.home-page{
    
    .text-zone{
        position: absolute;
        left: 10%;
        top:50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        
    }
    img{
        width: 40px;
        margin-left: 20px;
        opacity: 0;
        height: auto;
        animation: rotateIn 1s linear both;
        animation-delay: 1.4s;

    }

    h1{
        color:white;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 300;
        &::before{
            content: '<h1>';
            font-family:'La Belle Aurore' ;
            color:#ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
            animation: fadeIn 1s 1.7s backwards;
        }
        &::after{
            content: '<h1/>';
            font-family:'La Belle Aurore' ;
            color:#ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }
    h2{
        color:#ffd700;
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 30px;
        font-family: sans-serif;
        letter-spacing: 2.5px;   
        animation: fadeIn 1s 1.8s backwards ; 
    }

    .flat-button{
        color:#ffd700;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 3px;
        font-family: sans-serif;
        text-decoration: none;
        border: 1px solid #ffd700;
        padding:10px 18px;
        margin-top: 20px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        &:hover{
            background: #ffd700;
            opacity: 0.65;
            color: rgb(58, 54, 54);
        }
    }
}